<div class="event-show">
  <h1><%= @event.title %></h1>
  <p>Date: <%= @event.date.strftime("%m/%d/%Y") %></p>
  <p>Start Time: <%= @event.start_time.strftime("%I:%M%p") %></p>
  <p>End Time: <%= @event.end_time.strftime("%I:%M%p") %></p>
  <% if @event.note != "" %>
  <p>Note: <%= @event.note %></p>
  <% end %>
  <p>Location: <%= @event.location.name %></p>
  <p>Address: <%= @event.location.street_address %> <%= @event.location.city %> <%= @event.location.state %> <%= @event.location.zipcode %><p>
  <p>Creator: <%= @event.creator %></p>
  <p>Notified: <%= @event.get_usernames %></p>

  <% if @event.creator == @calendar.name %>
    <%= link_to "Edit", edit_calendar_event_path(@calendar.name, @event) %> |
  <% end %>

  <%= link_to 'Delete', calendar_event_path(@calendar.name, @event), method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
<br>

<%= link_to 'Add comment',  new_event_comment_path(@event), class: "btn btn-primary btn-xs" %><br><br>

<% if @event.comments != [] %>
<h2>Comments</h2>
<div class="comments-show">
  <% @event.comments.each do |comment| %>
    <strong><%= comment.user.username %></strong>:<br>
    <%= comment.content %>
  <% end %>
</div>
<% end %>
