<h1><%= @event.title %></h1>
<% if @event.date %>
<p>Date: <%= @event.date.strftime("%m/%d/%Y") %></p>
<% end %>
<p>Start Time: <%= @event.start_time.strftime("%I:%M%p") %></p>
<p>End Time: <%= @event.end_time.strftime("%I:%M%p") %></p>
<p>Note: <%= @event.note %></p>
<p>Location: <%= @event.location.name %></p>
<p>Address: <%= @event.location.street_address %> <%= @event.location.city %> <%= @event.location.state %> <%= @event.location.zipcode %><p>
<p>Creator: <%= @event.creator %></p>
<p>Notified: <%= @event.get_usernames %></p>

<% if @event.creator == @calendar.name %>
  <%= link_to "Edit", edit_calendar_event_path(@calendar.name, @event) %><br>
<% end %>

<%= button_to 'Delete', calendar_event_path(@calendar.name, @event), method: :delete, data: {confirm: 'Are you sure?'} %>
