<h1>Places to go to today</h1>
<% current_user.today_events.each do |event| %>
  <div>
    <%= event.start_time.strftime("%I:%M%p") %><br>
    Location: <%= event.location.name %><br>
    Address: <%= event.location.street_address %> <%= event.location.city %> <%= event.location.state %> <%= event.location.zipcode %>
  </div><br>
<% end %>
