<div class="location">
  <h1>Places to go today</h1>
  <% @user_locations.each do |event| %>
    <div class="event-loc">
      <%= event.start_time.strftime("%I:%M%p") %><br>
      Location: <%= event.location.name %><br>
      Address: <%= event.location.street_address %> <%= event.location.city %> <%= event.location.state %> <%= event.location.zipcode %>
    </div><br>
  <% end %>
</div>
<br>
