<!DOCTYPE html>
<html>
  <head>
    <title>EReminder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class="home">
    <% if alert %>
      <div id="alert_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= render "layouts/navbar" %>
    <div id="main" class="container text-center">
      <%= yield %>
    </div>
  </body>
</html>
